<p>detail works!</p>
<!-- <app-help></app-help> -->

<!-- <app-built-in-directives></app-built-in-directives> -->

<!-- <app-custom-directive></app-custom-directive> -->

<!-- <app-built-in-pipes></app-built-in-pipes> -->

<app-custom-pipe></app-custom-pipe>