<p>home component is alive</p>
<app-child input1="test1" [input2]="'test2'" [(twoWay)]="test" (onUpdate)="seeUpdate()" #childComponent>
</app-child>
<p>{{ test}}</p>

<!-- Ng Content Example -->
<!-- <app-skelet-example>
    <div>
        I am in Ng Content
    </div>
</app-skelet-example> -->


<!-- <app-attribute-style-class-binding></app-attribute-style-class-binding> -->