<p>Built-in-pipes</p>

<p>The hero's birthday is {{ birthday | date: "dd yy" }} </p>

<p>The hero's birthday is {{ birthday | date: 'shortDate' }} </p>

<p> {{text | uppercase }}</p>

<p>The hero's birthday is {{ birthday | date | uppercase }} </p>
