<!-- Attribute Directives -->

<!-- NgClass -->
<div [ngClass]="isAvailable ? 'available' : 'nope'">
</div>

<!-- NgStyle -->
<div [style.height.px]="height">
</div>

<!-- NgModel -->
<!-- To use NgModel, you must need to import FormsModule -->
<input [(ngModel)]="user.name">

<button (click)="log()">log</button>


<!-- Structural Directive -->

<!-- NgIf -->
<div *ngIf="isAvailable">
    
</div>

<!-- NgFor -->
<div *ngFor="let data of list"></div>

<!-- NgSwitch -->
<div [ngSwitch]="number">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchCase="3">Three</div>
    <div *ngSwitchDefault>This is Default</div>
</div>