<div class="header">
    <a [routerLink]="['/First']">First</a>
    <a [routerLink]="['/Home']">Home</a>
    <a [routerLink]="['/Feature']">Feature</a>
    <a [routerLink]="['/Feature/Detail']">Feature Detail</a>
    <a *ngIf="userService.user" [routerLink]="['UserDetail', userService.user.id]">User Details Page</a>

    <a (click)="logInOrOut()" class="login"> {{userService.user ? 'Log out': "Log in" }}</a>
</div>